/* some custom css styles */
.ai-tool_image {
  border-radius: 1.3rem;
}

#btn-arrow {
  border: none;
  background: none;
}

.arrow {
  cursor: pointer;
  border: 1px solid #ffb6c138;
  background-color: #fef7f7;
  color: #eb5757;
  padding: 1.2rem;
  border-radius: 50%;
}

.modal-dialog {
  margin: 0 auto;
  max-width: 75vw;
}

.special-card {
  border: 1px solid #eb5757;
  background-color: #eb57571e;
}

.pricing {
  background-color: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
}

.accuracy {
  background-color: #eb5757;
  color: white;
  border-radius: 5px;
  right: 2rem;
  top: 2rem;
  padding: 5px 10px;
}

/* spinner */
.spinner {
  width: 50px;
  height: 50px;
  margin: 25vh auto;
  position: relative;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #017c60;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #017c60;
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
